h2{
    text-align: center;
}
#log-in{
    width: 80%;
   align-self: center;
    margin-left: auto;
    margin-right: auto;
    font-size: larger;
    color: black;
    font-weight: 500;
    border: solid;
}
#btnLogin{
    width: 800px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    
}
    
